
.navMenu{
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  z-index: 1000;
  backdrop-filter: blur(10px);
  height: 50px;
  padding: 1rem 0;
}
.navMenu h2{
  margin-left: 2rem;
}
.listMenu{
  display: flex;
  flex-direction: row;
  align-items: end;
}
.listMenu li{
  float: right;
  margin: 1rem 1.4rem;
  transform: scale(0.9);
  position: relative;
  transition: 200ms ease-in;
}
.listMenu li::before{
  content: '';
  position: absolute;
  bottom: -2px;
  display: inline-block;
  width: 0%;
  height: 2px;
  background-color: aquamarine;
  transition: 200ms ease-in;
}
.listMenu li:hover::before{
  width: 100%;

}
.tituloNavMenu .right{
  margin-right: 0.4rem;
}
.tituloNavMenu .left{
  margin-left: 0.4rem;
}
.js .menuMobile{
  cursor: pointer;
  display: none;
}
.menuMobile > div{
  width: 28px;
  background-color: var(--white);
  height: 3px;
  margin-top: 7px;
}
@media (max-width:650px) {
  .navMenu h2{
    margin-left: 1rem;
  }
  .navMenu{
    height: 30px;
    align-items: flex-end;
  }
  .js .menuMobile{
    display: block;
    margin-right: 1rem;
    margin-top: 0.3rem;
    cursor: pointer;
  }
  .listMenu{
    display: none;
    transition: 1s all;
    flex-direction: row;
    backdrop-filter: blur(10px);
  }
  .js .listMenu.active{
    display: flex;
  }
  .listMenu li {
    margin: 1rem 0.8em;
}
  .tituloNavMenu.remove{
    display: none;
  }
}
@media (max-width:450px) {
  .listMenu{
    position: absolute;
    top: 3rem;
    left: 0rem;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--purple);
    backdrop-filter: blur(50px);
    padding-left: 0.5rem;
    border-radius: 15px;
  }
  .tituloNavMenu.remove{
    display: block;
  }
  .navMenu{
    padding: 0.5rem;
  }
}