
.navMenu{
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  z-index: 1000;
  backdrop-filter: blur(10px);
  background-color: #0A192F;
  height: 50px;
  padding: 0.5rem 0;
  box-shadow: 0 1px 6px #142d52;
}
.navMenu h2{
  margin-left: 2rem;
}
.listMenu{
  display: flex;
  flex-direction: row;
  align-items: end;
}
.listMenu li{
  float: right;
  margin: 1rem 1.4rem;
  transform: scale(0.9);
  position: relative;
  transition: 200ms ease-in;
}
.listMenu li::before{
  content: '';
  position: absolute;
  bottom: -4px;
  display: inline-block;
  width: 0%;
  height: 2px;
  background-color: aquamarine;
  transition: 200ms ease-in;
  border-radius: 10px;
}
.listMenu li:hover::before{
  width: 100%;

}
.tituloMobile{
  display: none;
}
.tituloNavMenu .right{
  margin-right: 0.4rem;
}
.tituloNavMenu .left{
  margin-left: 0.4rem;
}
.js .menuMobile{
  cursor: pointer;
  display: none;
}
.menuMobile > div{
  width: 30px;
  background-color: var(--white);
  height: 3px;
  margin-top: 6px;
}
@media (max-width:800px) {
  .navMenu{
    height: 30px;
    padding: 1rem 0;
  }
  .js .menuMobile{
    display: block;
    cursor: pointer;
  }

  .js .listMenu.active{
    display: flex;
    transform: translate(0, -000%);
  }
  .listMenu{
    position: absolute;
    top: 3.5rem;
    right:0rem;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    background-color: #0A192F;
    /* box-shadow: rgba(252, 254, 255, 0.3) 0px 1px 2px 0px, rgba(224, 230, 235, 0.15) 0px 2px 6px 2px; */
    border-left: 1px solid rgba(252, 254, 255, 0.3);
    border-bottom: 1px solid rgba(252, 254, 255, 0.3);
    padding-left: 0.5rem;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transform: translate(0, -100%);
    transition: transform 0.50s ease-in-out;
  }
  .tituloNavMenu.remove{
    display: block;
    
  }
  .navMenu{
    align-items: flex-start;
    gap:2px
  }

}
@media (max-width:450px) {
  .js .menuMobile{
    margin-top: -0.4rem;
  }
  .tituloNavMenu{
    display: none;
  }
  .tituloMobile{
    display: block;
  }
  .tituloNavMenu.remove{
    display: none;
    
  }
  .navMenu{
    align-items: flex-start;
    gap:2px
  }

}