.menuFixed{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0px;
    max-height: 100px;
    height: 60px;
    display: none;
    justify-content: center;
    align-items: center;
}
.js .menuFixed.active{
    display: flex;
    flex-direction: column;
}
.listMenuIcone li img{
    width: 25px;
    cursor: pointer;
    border: 2px solid gray;
    padding: 0.3rem;
    border-radius: 100px;
}
.listMenuIcone li{
    transition: 200ms ease-in
}
.listMenuIcone li:hover{
    transition: 200ms ease-in;
    transform: scale(1.1);
}

.listMenuIcone{
    display: flex;
    gap: 30px;
    padding: 0.1rem 2rem;
    border-radius: 15px;
    background-color: rgba(148, 148, 148, 0.322);
    backdrop-filter: blur(20px);
}

