*{
  margin: 0;
  padding: 0;
}
body{
  background-color: var(--blueExt);
  overflow-x: hidden;
}
body.paused{
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  text-size-adjust: none;
 -webkit-text-size-adjust: none;
}
a,li{
  text-decoration: none;
  list-style: none;
  color: var(--white);
}
img{
  width: 100%;
}