.footer{
  text-align: center;
  padding: 1rem 0;
  margin: 4rem 0;
  margin-bottom: 2rem;
}
.footer a{
  color: var(--purple);
  transition: 1s all;
}
.footer a:hover{
  color: green;
  transition: 1s all;
}
@media (max-width:600px) {
  .footer{
    margin: 0rem 0;
  }
}