.projetos{
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projetosFlex{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 2rem;
}
.projetosText h2{
  margin: 1.3rem 0;
}
.projetosText a{
  background-color: var(--purple);
  padding:0.5rem 2rem ;
  border-radius: 5px;
  margin-top: 2rem;
  transition: 1s ease-in-out;
}
.projetosText a:hover{
  background-color: var(--grenn);
  color: var(--blueExt);
  letter-spacing: 1px;
}
.projetosText a span{
  margin-right: 10px;
}
.projetosText p{
  margin-bottom: 2rem;
}



@media (max-width:1200px) {
  .projetos{
    margin: 0 1rem;
  }
}
@media (max-width:800px) {
  .projetos{
    min-height: 0;
    margin-bottom: 5rem;
  }
}
@media (max-width:600px) {
  .projetosFlex{
    display: block;
  }
  .projetosFlex div{
    margin-top: 3rem;
  }
  .projetosText p{
    margin-bottom: 1rem;
  }
  .projetosText h2{
    margin: 0.7rem 0;
  }
}
