.projetos {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.containerFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  margin: 0 2rem;
}

.flexCard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.flexCardReverse {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: center;
  gap: 1rem;
}


.titleProjetos {
  margin-bottom: 3rem;
  margin-left: 20px;
}

.projetoCard {
  margin: 0 2rem;
}

.projetoCard img {
  width: 650px;
  height: 300px;
  border-radius: 6px;
}

.textCard p {
  margin: 1rem 0;
}

.tecProjects {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}

.tecProjects>div span {
  cursor: pointer;
  color: var(--white);
  padding: 0.2rem 1rem;
  border-radius: 7px;
  white-space: nowrap;
}

.tecProjects .html {
  background-color: red;

}

.tecProjects .css {
  background-color: blue;
}

.tecProjects .javaScript {
  background-color: rgb(255, 247, 0);
  color: var(--black);

}

.tecProjects .react {
  background-color: rgb(0, 157, 160);

}

.tecProjects .styledComponentes {
  background-color: rgb(160, 0, 155);
}

.tecProjects .typescript {
  background-color: rgb(7, 113, 251);
}
.tecProjects .sass {
  background-color: rgb(207, 5, 123);
}
.tecProjects .angular {
  background-color: rgb(235, 128, 42);
}

.projetosText a {
  background-color: var(--purple);
  padding: 0.5rem 2rem;
  border-radius: 5px;
  margin-top: 1rem;
  transition: 400ms ease-in-out;
  text-align: center;
}

.projetosText a:hover {
  background-color: var(--grenn);
  color: var(--blueExt);
  letter-spacing: 1px;
}

.flexLink {
  display: flex;
  gap: 1rem;
}

.flexLink a {
  background-color: var(--purple);
  padding: 6px 10px;
  border-radius: 6px;
}


@media (max-width:1200px) {
  .projetos {
    margin: 0rem
  }

  .projetoCard img {
    width: 500px;
    height: 250px;
    border-radius: 6px;
  }
}

@media (max-width:1000px) {
  .containerFlex {
    margin: 0 0.5rem;
  }

  .projetoCard img {
    width: 480px;
    height: 250px;
    border-radius: 6px;
  }

  .flexCard {
    gap: 0.5rem;
  }
}

@media (max-width:900px) {
  .projetosGrid {
    gap: 2rem;
  }

  .projetoCard img {
    width: 420px;
    height: 210px;
    border-radius: 6px;
  }

  .projetosText a {
    padding: 0.5rem 0.3rem;
    text-align: center;
  }

  .projetoCard img {
    width: 440px;
    height: 220px;
    border-radius: 6px;
  }

  .tecProjects {
    margin-bottom: 0.7rem;
  }
}

@media (max-width:800px) {
  .containerFlex {
    margin: 0 1rem;
  }

  .flexCard,
  .flexCardReverse {
    flex-direction: column;
    align-items: center;
  }

  .textCard {
    margin: 1rem 4em;
  }

  .textCard p {
    margin: 1rem 0;
  }

  .projetoCard img {
    width: 540px;
    height: 250px;
    border-radius: 6px;
  }

  .tecProjects {
    margin-bottom: 1rem;
  }

  .projetosText a {
    padding: 0.8rem 0.5rem;
    text-align: center;
  }
}

@media (max-width:600px) {
  .projetoCard img {
    width: 400px;
    height: 180px;
    border-radius: 6px;
  }
}
@media (max-width: 500px) {
  .containerFlex{
    gap: 3rem;
  }
  .projetoCard img {
    width: 380px;
    height: 180px;
    border-radius: 6px;
  }
  
}
@media (max-width:400px) {
  .projetosText a {
    font-size: 12px;
    padding: 0.5rem 0.1rem;
  }
  .projetoCard img {
    width: 290px;
    height: 150px;
    border-radius: 6px;
  }

  .textCard {
    margin: 1rem 2em;
  }
}