.projetos{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projetosGrid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  margin-top: 4rem;
}
.projetosGrid div img{
  cursor: pointer;
}
.projetosText h2{
  margin: 1.3rem 0;
}
.projetosText a{
  background-color: var(--purple);
  padding:0.5rem 2rem ;
  border-radius: 5px;
  margin-top: 2rem;
  transition: 1s ease-in-out;
}
.projetosText a:hover{
  background-color: var(--grenn);
  color: var(--blueExt);
  letter-spacing: 1px;
}
.projetosText .flexLink a  span{
  margin-right: 10px;
}
.projetosText .flexLink{
  display: flex;
  gap: 2rem;
}
@media (max-width:800px) {
  .projetos{
    min-height: 0;
    margin-top: 5rem;
  }
  .projetosGrid{
    gap: 2rem;
  }
}
@media (max-width:600px) {
  .projetosGrid{
    grid-template-columns: 1fr;
    margin: 2rem 1rem;
  }
}
@media (max-width:400px) {
  .projetosText a{
    padding:0.5rem 0.2rem ;
  }
}