
.sobreMim{
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sobreMimFlex{
  display: flex;
  align-items: center;
  gap: 4rem;
}
.sobreImg{
  width: 90%;
  border-left: 0.7rem solid var(--purple);
  cursor: pointer;
  filter: saturate(50%);
}
.sobreImg:hover{
  border-left: 0.7rem solid var(--grenn);
  transition: ease 50ms ease-in-out 800ms;
  filter: saturate(100%);
}
.sobreText{
  max-width: 90%;
}
.sobreText h3{
  margin:2rem 0 ;
}
.sobreParagrafos{
 background-color: #6c6b6b0d ;
 padding:0.7rem 1rem;
 border-radius: 10px;
 box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
@media (max-width:800px) {
  .sobreText{
    max-width: 100%;
  }
  .sobreText h2{
    font-size: 2rem !important;
  }
  .sobreMimFlex{
    flex-direction: column;
    justify-content: center;
  }
  .sobreMim{
    margin-bottom: 5rem;
  }
  .sobreImg{
    display: none;
  }
  .sobreText h3{
    margin:1.2rem 0 ;
  }
  .sobreText{
    max-width: 80%;
  }
}